<!DOCTYPE html>
<html>
<% include ../partials/head %>

    <body>
        <% include ../partials/header %>
            <div class="container">
                <div class="row">
                    <p>
                        <% include ../partials/locals_errors %>
                        <% include ../partials/form_errors %>
                    </p>
                    <% if(user) { %>
                        <div id="operations_master">
                            <div class="operations_div">
                                <button id="operations_burger_btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#operations-collapse"
                                    aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <span class="navbar-brand operation_brand">Profile Navigation: </span>
                            </div>
                            <div class="collapse navbar-collapse" id="operations-collapse">
                                <ul class="operations_list nav navbar-nav navbar-right">
                                    <li>
                                        <a onclick="view_social()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Social
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="view_overview()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Overview
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="view_settings()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="view_security()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Security
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="view_preferences()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preferences
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <section class="profile_section">
                                <div class="profile_div">
                                    <h1 class="profile_heading">Profile Overview</h1>
                                    <label class="profile_label">User-privileges: </label><span class="profile_span"><%= user.local.role %></span>
                                    <img src=<%= "/img/" + user.local.profile_img %> alt="profile image" title="profile image" class="profile_img img-responsive">
                                    <section class="profile_p_section">
                                        <p>
                                            <label class="profile_label">Username: </label>
                                            <span class="profile_span"><%= user.local.account.username %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Name: </label>
                                            <span class="profile_span"><%= user.local.contact_info.name %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">E-mail Adress: </label>
                                            <span class="profile_span"><%= user.local.contact_info.email %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Phone Number: </label>
                                            <span class="profile_span"><%= user.local.contact_info.phone %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Adress: </label>
                                            <span class="profile_span"><%= user.local.contact_info.adress %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Created Date: </label>
                                            <span class="profile_span"><%= user.local.created %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Signature: </label>
                                            <span class="profile_span"><%= user.local.signature %></span>
                                        </p>
                                    </section>
                                </div>
                            </section>
                        </div>
                    <% } %>
                </div>
                <% include ../partials/footer %>
            </div>
            <!-- /container -->
    </body>

</html>